@import url('https://fonts.googleapis.com/css2?family=Labrada:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
    font-family: 'Labrada', serif;
}

:root{
    --color-1: #a4969b;
    --color-2: #655560;
    --color-3: #878c8f;
    --color-4: #c4cad0;
    --header-color: #3B3D3E;
}

*::selection{
    background-color: #1c1f21;
    color: white
}

button:hover{
    cursor: pointer;
}

a:link,
a:visited{
    color: white;
}


.flex-centered{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* header starts */

.header{
    background-color: var(--header-color);
    justify-content: end;
    min-height: 10vh;
    padding: 1rem;
}

nav{
    font-size: 1.6rem;
    gap: 1rem;
    color: white;
}

nav > a:link,
nav > a:visited{
    color: white;
}

nav > a:hover{
    color: var(--color-4);
}

/* header ends */

/* main starts */

main{
    min-height: 80vh;
}


/* main ends */

/* footer starts */

.footer{
    background-color: var(--header-color);
    padding: 1rem;
    font-size: 1.6rem;
    min-height: 10vh;
    color: white;
}


/* footer ends */