@import url('https://fonts.googleapis.com/css2?family=Labrada:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Labrada', serif;
}

:root{
    --color-1: #698269;
    --color-2: #B99B6B;
    --color-3: #F1DBBF;
    --color-4: #AA5656;
}

button:hover{
    cursor: pointer;
}

.flex-centered{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* header starts */

.header{
    background-color: var(--color-2);
    justify-content: end;
    min-height: 10vh;
    padding: 1rem;
}

nav{
    font-size: 1.6rem;
    gap: 1rem;
    color: white;
}

nav > a:link,
nav > a:visited{
    color: white;
}

nav > a:hover{
    color: var(--color-4);
}

/* header ends */

/* main starts */

main{
    background-color: var(--color-3);
    min-height: 80vh;
}

.cases-statuses{
    gap: 1rem;
}

.case-status{
    padding: .8rem;
}

.case-status:hover{
    background-color: var(--color-1);
    cursor: pointer;
}

.active{
    background-color: var(--color-1);
}

/* main ends */

/* footer starts */

.footer{
    background-color: var(--color-2);
    padding: 1rem;
    font-size: 1.6rem;
    min-height: 10vh;
    color: white;
}


/* footer ends */